.box {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 1px #e7e7e7;
}

.box:hover {
  &.available {
    background: #51c9a9;
  }

  &.reserved {
    @apply bg-yellow-300;
  }
}

.available {
  background: #9bdbca;
  cursor: pointer;
}

.closed {
  background: #f7f7f7;
  color: #ccc;
}

.unavailable {
  background: #e9e9e9;
}

.reserved {
  @apply bg-yellow-400;
  cursor: pointer;
}

.break {
  background: #ffeed4;
}
