.header {
  height: 50px;
  border-bottom: #e7e7e7 solid 1px;
  border-top: #e7e7e7 solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendarGrid {
  > div {
    flex-basis: 12.5%;

    &:first-child {
      .header {
        justify-content: flex-start;
        padding: 0 24px;
      }
    }
  }
}

.calendarHours {
  > div {
    justify-content: flex-start;
    padding: 0 24px;
  }
}

.modal {
  > div {
    margin-bottom: 8px;
  }

  label {
    margin-right: 8px;
    display: inline-block;
    width: 120px;
    text-align: right;
  }
}

.modalHeader {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;

  button {
    margin-left: 8px;
  }
}
