.notification {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  height: 5rem;
  bottom: 0;
  width: 100%;
  left: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  z-index: 10;
  @apply text-gray-100 bg-gray-800 py-0 px-8;
}

.notification h2 {
  margin: 0;
  @apply text-2xl;
}

.notification p {
  margin: 0;
}

.success {
  @apply bg-green-700 text-gray-800;
}

.error {
  @apply bg-red-500;
}

@media (min-width: 768px) {
  .notification {
    width: 40rem;
    left: calc(50% - 20rem);
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }
}
