@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-4xl;
  @apply text-center;
  @apply my-8;
  @apply uppercase;
}

button {
  @apply bg-slate-400 hover:bg-slate-700 text-white font-bold py-1 px-4 rounded my-1;
}
form {
  @apply bg-white shadow-md rounded px-8 pt-6 pb-8 mb-0;
  div {
    @apply mb-4;
    label {
      @apply block text-gray-700 text-sm font-bold mb-2;
    }
    input {
      @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none;
    }
    button.primary {
      @apply border bg-green-400 hover:bg-green-700 rounded font-bold text-black;
    }
    button {
      @apply bg-slate-400 hover:bg-slate-700 border text-black font-bold py-1 px-4 rounded my-1;
    }
  }
}

.modal {
  // height: 400px;
  // width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 0;
}
