@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'variables.scss';

body {
  color: $gray-primary;
}

input {
  border-bottom: solid 1px $gray-light;

  &:focus-visible {
    outline: none;
  }
}

.content-padding {
  padding: $padding-base $padding-l;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px $gray-light;
  font-weight: 600;

  h1 {
    font-size: 24px;
  }

  button {
    padding: $padding-s $padding-base;
  }
}

.settings-menu {
}

.oib-section {
  padding-top: $padding-l;
  padding-bottom: $padding-l;
  display: flex;
  justify-content: space-between;

  input {
    margin: 0 $padding-m;

    &:focus-visible {
      outline: none;
    }
  }
}

.modal {
  width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 0;
  background: white;
  padding: $padding-m $padding-xl;
  box-shadow: 0px 0px 28px $gray-light;

  &:focus-visible {
    outline: none;
  }
}

.button {
  text-transform: uppercase;
  font-size: 13px;
  padding: $padding-base $padding-m;
  cursor: pointer;
  font-weight: 600;
}

.button-primary {
  background: $brand;
  color: white;
}

.button-secondary {
  border: solid 1px $gray-light;
}
