$gray-dark: #202830;
$gray-primary: #47494b;
$gray-light: #e7e7e7;

$brand: #63d1b4;
$brand-dark: #19b48b;

$padding-base: 8px;
$padding-s: calc($padding-base/2);
$padding-m: $padding-base * 2;
$padding-l: $padding-base * 3;
$padding-xl: $padding-base * 4;
